<div id="<%= dom_id @part %>">
  <p>
    <strong><%= t('views.parts.index.part_number') %></strong>
    <%= @part.part_number %>
  </p>

  <p>
    <strong><%= t('views.parts.part.supplier') %>:</strong>
    <%= @part.supplier.name  %>
  </p>

 </div>
