<div id="<%= dom_id @book %>">
  <h1 class="text-2xl font-bold"><%= t('views.books.book.title') %>:</h1>
  <br>

  <p>
    <strong><%= t('views.books.book.book_title') %>:</strong>
    <%= @book.title %>
  </p>

  <p>
    <strong><%= t('views.books.book.author') %>:</strong>
    <%= @book.author.name %>
  </p>

  <p>
    <strong><%= 'ISBN:' %></strong>
    <%= @book.isbn %>
  </p>

</div>
