<div id="<%= dom_id @assembly %>">
  <p>
    <strong><%= t('views.assemblies.index.name') %> :</strong>
    <%= @assembly.name %>
  </p>

  <p>
    <strong><%= t('views.assemblies.index.assembly_parts') %> :</strong>
    <% @assembly.parts.each do |part| %>
      <%= part.name %>
    <% end %>
  </p>
</div>
