<div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
    <div class="w-full md:w-1/2">

      <strong><%= t('views.assemblies.index.search_title') %>:</strong>
      <%= form_tag(assemblies_path, method: :get) do %>
        <%= text_field_tag :query, params[:query], placeholder:  t('views.assemblies.index.search_label') %>
        <%= submit_tag t("views.assemblies.index.search_button"), class: ("bg-green-500 text-white font-bold py-2 px-4 rounded-full cursor-pointer") %>
      <% end %>
      </form>

    </div>
    <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
      <a href="<%= new_assembly_path(assembly_id: @assembly&.id) %>" class="flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
        <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
        </svg>
        <%= I18n.t('views.assemblies.index.add_new_assembly') %>
      </a>
    </div>
  </div>
  <div class="overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-4 py-3"><%= t('views.assemblies.index.name') %></th>
        <th scope="col" class="px-4 py-3"><%= t('views.assemblies.index.assembly_parts') %></th>
        <th scope="col" class="px-4 py-3"><%= t('views.assemblies.index.book_title') %></th>
        <th scope="col" class="px-4 py-3">
          <span class="sr-only">Actions</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <% @assemblies.each do |assembly| %>
        <tr class="border-b dark:border-gray-700">
          <td class="px-4 py-3 font-medium text-gray-600 whitespace-nowrap dark:text-white"><%= assembly.part.name %></td>

          <td class="px-4 py-3 font-medium text-gray-600 whitespace-nowrap dark:text-white">
            <% assembly.parts.each do |part| %>
              <%= part.name %>
            <% end %>
          </td>

          <td class="px-4 py-3 font-medium text-gray-600 whitespace-nowrap dark:text-white"><%= assembly.book.title %></td>

          <td class="px-4 py-3 flex items-center justify-end">
            <button id="assembly-dropdown-button-<%= assembly.id %>" data-dropdown-toggle="assembly-dropdown-<%= assembly.id %>" class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M2 10a8 8 0 1116 0 8 8 0 01-16 0zm8 1a1 1 0 100-2 1 1 0 000 2zm-3-1a1 1 0 11-2 0 1 1 0 012 0zm7 1a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
              </svg>
            </button>
            <div id="assembly-dropdown-<%= assembly.id %>" class="hidden submenu z-10 w-24 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
              <ul class="py-1 text-sm text-gray-700 dark:text-gray-200 flex flex-col md:items-center" aria-labelledby="assembly-dropdown-button-<%= assembly.id %>">
                <li>
                  <%= link_to t('views.assemblies.index.show_ellipsis_label'), assembly, class: "block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
                </li>
                <li>
                  <%= link_to t('views.assemblies.index.edit_ellipsis_label'), edit_assembly_path(assembly), class: "block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
                </li>
                <li>
                  <%= button_to I18n.t('views.assemblies.index.delete_ellipsis_label'), { action: "destroy", id: assembly.id }, method: :delete, data: { confirm: I18n.t('views.routines.index.delete_confirmation') }, class: "block py-2 px-4 hover-bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>