<!DOCTYPE html>
<html>
<head>
  <title>DeveloperEvolution</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'styles', media: 'all' %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag 'modal' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.turbo.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
  <script src="/assets/application.js"></script>
</head>

<body>

<div class="container">
  <% if user_signed_in? %>
    <div class="grid grid-cols-5">
      <div class="col-span-1">
        <div class="flex flex-1 bg-gray-50">
          <div class="hidden md:flex md:w-64 md:flex-col">
            <div class="flex flex-col flex-grow pt-5 overflow-y-auto bg-white">
              <div class="flex items-center flex-shrink-0 px-4">
                <%= image_tag("logo.png", size: "50x50", class: "imagem-redonda") %>
                <p class="text-2xl leading-6"><%= link_to t('side_bar.book_publisher'), root_path %></p>
              </div>

              <div class="px-4 mt-6">
                <hr class="border-gray-200"/>
              </div>

              <div class="flex flex-col flex-1 px-3 mt-6">
                <div class="space-y-4">
                  <nav class="flex-1 space-y-2">
                    <%= link_to authors_path, class: "flex items-center px-4 py-2.5 text-sm font-medium transition-all duration-200 text-gray-900 hover:text-white rounded-lg hover:bg-indigo-600 group" do %>
                      <%= image_tag("authors.jpeg", class: "flex-shrink-0 w-5 h-5 mr-4 w-6 h-6") %>
                      <%= t('side_bar.authors') %>
                    <% end %>
                  </nav>

                  <hr class="border-gray-200"/>

                  <nav class="flex-1 space-y-2">
                    <%= link_to books_path, class: "flex items-center px-4 py-2.5 text-sm font-medium transition-all duration-200 text-gray-900 hover:text-white rounded-lg hover:bg-indigo-600 group" do %>
                      <%= image_tag("books.png", class: "flex-shrink-0 w-5 h-5 mr-4 w-6 h-6") %>
                      <%= t('side_bar.books') %>
                    <% end %>
                  </nav>

                  <hr class="border-gray-200"/>

                  <nav class="flex-1 space-y-2">
                    <%= link_to suppliers_path, class: "flex items-center px-4 py-2.5 text-sm font-medium transition-all duration-200 text-gray-900 hover:text-white rounded-lg hover:bg-indigo-600 group" do %>
                      <%= image_tag("suppliers.jpeg", class: "flex-shrink-0 w-5 h-5 mr-4 w-6 h-6") %>
                      <%= t('side_bar.suppliers') %>
                    <% end %>
                  </nav>

                  <hr class="border-gray-200"/>

                  <nav class="flex-1 space-y-2">
                    <%= link_to accounts_path, class: "flex items-center px-4 py-2.5 text-sm font-medium transition-all duration-200 text-gray-900 hover:text-white rounded-lg hover:bg-indigo-600 group" do %>
                      <%= image_tag("accounts.jpeg", class: "flex-shrink-0 w-5 h-5 mr-4 w-6 h-6") %>
                      <%= t('side_bar.accounts') %>
                    <% end %>
                  </nav>

                  <hr class="border-gray-200"/>

                  <nav class="flex-1 space-y-2">
                    <%= link_to parts_path, class: "flex items-center px-4 py-2.5 text-sm font-medium transition-all duration-200 text-gray-900 hover:text-white rounded-lg hover:bg-indigo-600 group" do %>
                    <%= image_tag("book_parts.jpeg", class: "flex-shrink-0 w-5 h-5 mr-4 w-6 h-6") %>
                      <%= t('side_bar.parts') %>
                    <% end %>
                  </nav>

                  <hr class="border-gray-200"/>

                  <nav class="flex-1 space-y-2">
                    <%= link_to assemblies_path, class: "flex items-center px-4 py-2.5 text-sm font-medium transition-all duration-200 text-gray-900 hover:text-white rounded-lg hover:bg-indigo-600 group" do %>
                      <%= image_tag("book_assemblies.jpeg", class: "flex-shrink-0 w-5 h-5 mr-4 w-6 h-6") %>
                      <%= t('side_bar.assemblies') %>
                    <% end %>
                  </nav>

                  <hr class="border-gray-200"/>

                  <nav class="flex-1 space-y-2">
                    <div id="reportsMenu" class="flex items-center px-4 py-2.5 text-sm font-medium transition-all duration-200 text-gray-900 hover:text-white rounded-lg hover:bg-indigo-600 group">
                      <%= image_tag("report.jpeg", alt: "Relatório", class: "flex-shrink-0 w-5 h-5 mr-4 w-6 h-6") %>
                      <%= t('side_bar.reports') %>
                    </div>
                    <ul id="submenu" class="hidden absolute left-0 mt-2 space-y-2 bg-white shadow-md">>
                      <li><%= link_to t('side_bar.authors_report'), author_report_path %></li>
                      <li><%= link_to t('side_bar.suppliers_report'), supplier_report_path %></li>
                      <li><%= link_to t('side_bar.books_report'), book_report_path %></li>
                    </ul>
                  </nav>

                  <hr class="border-gray-200"/>

                  <nav  class="flex-1 space-y-2 cursor-pointer" >
                    <div  class="relative flex flex-col items-center px-4 py-2.5 text-sm font-medium transition-all hover:text-white rounded-lg hover:bg-indigo-600 group">
                      <button onclick="showRelatorioMenu()" class="text-left flex justify-between items-center w-full">
                        <svg class="flex-shrink-0 w-5 h-5 mr-4 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                          <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                          <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                        </svg>
                        <%= t('side_bar.reports') %>
                        <svg id="iconFuture" class="ml-2 w-5 h-5 group-hover:text-white hover:bg-indigo-600 transition ease-in-out duration-150" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M5.293 9.293a1 1 0 011.414 0L10 12.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                      </button>
                      <div id="futureMenu" class="relative hidden left-0 w-48 mt-2 origin-top-left rounded-md md:w-48">
                        <button class="flex justify-start items-center space-x-6 hover:text-white rounded px-3 py-2  w-full md:w-52">
                          <%= link_to purposes_path, class: "text-left flex justify-between items-center w-full" do %>
                            <%= t('side_bar.authors_report') %>
                          <% end %>
                        </button>
                        <button class="flex justify-start items-center space-x-6 hover:text-white rounded px-3 py-2  w-full md:w-52">
                          <%= link_to objectives_path, class: "text-left flex justify-between items-center w-full" do %>
                            <%= t('side_bar.suppliers_report') %>
                          <% end %>
                        </button>
                        <button class="flex justify-start items-center space-x-6 hover:text-white rounded px-3 py-2 w-full md:w-52">
                          <%= link_to goals_path, class: "text-left flex justify-between items-center w-full" do %>
                            <%= t('side_bar.books_report') %>
                          <% end %>
                        </button>
                      </div>
                    </div>
                  </nav>

                  <hr class="border-gray-200"/>

                  <nav  class="flex-1 space-y-2 cursor-pointer" >
                    <div  class="relative flex flex-col items-center px-4 py-2.5 text-sm font-medium transition-all hover:text-white rounded-lg hover:bg-indigo-600 group">
                      <button onclick="showFutureMenu()" class="text-left flex justify-between items-center w-full">
                        <svg class="flex-shrink-0 w-5 h-5 mr-4 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                          <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                          <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                        </svg>
                        <%= t('side_bar.reports') %>
                        <svg id="iconFuture" class="ml-2 w-5 h-5 group-hover:text-white hover:bg-indigo-600 transition ease-in-out duration-150" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M5.293 9.293a1 1 0 011.414 0L10 12.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                      </button>
                      <div id="futureMenu" class="relative hidden left-0 w-48 mt-2 origin-top-left rounded-md md:w-48">
                        <button class="flex justify-start items-center space-x-6 hover:text-white rounded px-3 py-2  w-full md:w-52">
                          <%= link_to purposes_path, class: "text-left flex justify-between items-center w-full" do %>
                            <%= t('side_bar.authors_report') %>
                          <% end %>
                        </button>
                        <button class="flex justify-start items-center space-x-6 hover:text-white rounded px-3 py-2  w-full md:w-52">
                          <%= link_to objectives_path, class: "text-left flex justify-between items-center w-full" do %>
                            <%= t('side_bar.suppliers_report') %>
                          <% end %>
                        </button>
                        <button class="flex justify-start items-center space-x-6 hover:text-white rounded px-3 py-2 w-full md:w-52">
                          <%= link_to goals_path, class: "text-left flex justify-between items-center w-full" do %>
                            <%= t('side_bar.books_report') %>
                          <% end %>
                        </button>
                      </div>
                    </div>
                  </nav>

                  <hr class="border-gray-200"/>

                 <nav class="flex-1 space-y-2">
                    <%= link_to destroy_user_session_path, data: { "turbo-method": :delete }, class: "flex items-center px-4 py-2.5 text-sm font-medium transition-all duration-200 text-gray-900 hover:text-white rounded-lg hover:bg-indigo-600 group" do %>
                      <svg class="flex-shrink-0 w-5 h-5 mr-4 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                        <polyline points="16 17 21 12 16 7"></polyline>
                        <line x1="21" y1="12" x2="9" y2="12"></line>
                      </svg>
                      <%= t('side_bar.logout') %>
                    <% end %>

                  </nav>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-4">
        <% if flash[:notice] %>
          <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
            <%= flash[:notice] %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  <% else %>
    <nav class="bg-white w-screen border-gray-200 dark:bg-gray-900 dark:border-gray-700">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <%= link_to root_path, class: "flex items-center" do %>
          <%= image_tag("logo.png", size: "50x50", class: "imagem-redonda h-8 mr-3") %>
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"><%= t('side_bar.login_title') %></span>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  <% end %>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const reportsMenu = document.getElementById("reportsMenu");
        const submenu = document.getElementById("submenu");

        reportsMenu.addEventListener("click", function () {
            submenu.classList.toggle("hidden");
        });
    });
</script>

</body>
</html>